@font-face {
    font-family: 'ProximaNova-Bold';
    src: url('../fonts/ProximaNova-Bold.eot') format('eot'),
         url('../fonts/ProximaNova-Bold.ttf') format('ttf'),
         url('../fonts/ProximaNova-Bold.woff') format('woff'),
         url('../fonts/ProximaNova-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url('../fonts/ProximaNova-Regular.eot') format('eot'),
         url('../fonts/ProximaNova-Regular.ttf') format('ttf'),
         url('../fonts/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/ProximaNova-Regular.woff2') format('woff2');
}