%pn-Black{
    font-family: 'ProximaNova-Black', sans-serif;
}

%pn-Bold{
    font-family: 'ProximaNova-Bold', sans-serif;
}

%pn-Light{
    font-family: 'ProximaNova-Light', sans-serif;
}

%pn-Regular{
    font-family: 'ProximaNova-Regular', sans-serif;
}